// $primary: #205d86;
// $secondary: #77448b;
// $success: #20603c;
// $info: #3a539b;
// $warning: #804600;
// $danger: #b11030;
// $light: #fcddc9;
// $dark: #34515e;

$primary: #0277BD;
$secondary: #7B1FA2;
$success: #20bf6b;
$info: #00BCD4;
$warning: #FF8F00;
$danger: #D32F2F;
$light: #F8EFBA;
$dark: #37474F;