.sitenav {
  background-color: rgba($light, 0.5);
  height: 100%;
  position: fixed;
  transform: translateX(-100%);
  width: 100%;
  z-index: 8882;
  a > span {
    width: 44px;
    height: 44px;
  }
}