.sitenav {
  background-color: rgba($accent4, 0.85);
  height: 100%;
  position: fixed;
  transform: translateX(-100%);
  width: 100%;
  z-index: 8882;
  top: 0;
  left: 0;
  a > span {
    width: 44px;
    height: 44px;
  }
  &-header {
    height: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
    > .btn {
      display: none;
      height: 44px;
      width: 44px;
      padding: 8px;
    }
  }
}