.siteheader {
  height: 64px;
  padding: 10px 0;
  &-logo {
    a {
      height: 44px;
      width: 44px;
    }
  }
  &-notif {
    font-size: 0;
    font-style: normal;
    height: rem(12px);
    width: rem(12px);
    font-weight: bold;
  }
  &-menu-toggle, &-search-toggle, &-notif-toggle {
    > .btn {
      height: 44px;
      padding: 8px;
      width: 44px;
    }
  }
  &-menu-toggle {
    > .btn {
      .is-nav-closed {
        display: inline-block;
      }
      .is-nav-opened {
        display: none;
      }
      &.sitenav-opened {
        .is-nav-closed {
          display: none;
        }
        .is-nav-opened {
          display: inline-block;
        }
      }   
    }
  }
  &-user {
    > .btn {
      padding: 2px;
      height: 44px;
      width: 44px;
      > div {
        height: rem(32px);
        width: rem(32px);
      }
    }
  }
}